html
  head
    title= "Add Todo"
  body
    form(action="/todos/new", method="POST")
      input(type="text", name="todo")
      |
      input(type="text", name="description")
      |
      input(type="submit", value="Add Todo")

      