html
  head
    title= "Add Todo"
    |
    link(rel="stylesheet", href="/style.css", type="text/css")
  body
    div(class="container") 
      h2 Add Todo Form
      form(action="/todos/new", method="POST", class="todo-form")
        input(type="text", name="todo", placeholder="Add Todo")
        |
        input(type="text", name="description", placeholder="Add Description")
        |
        input(type="submit", value="Add Todo" class="btn")

      