html
  head
    title= "Todo"
    | 
    <style src="./../public/stylesheets/style.css">
    </style>
  body
    form(action="/", method="POST")
      input(type="text", name="todo")
      |
      input(type="submit", value="Add todo")
    