html
  head  
    title= "Todo"
    link
  body
    form(action="/", method="POST")
      input(type="text", name="name")
      |
      input(type="submit", value="Add Todo")
    div
      ul
        each val in todos
          li= val.name