html
  head
    title= "Todos"
    |
    link(rel="stylesheet", href="./style.css", type="text/css")

  body
    div(class="container")
      button(class="btn")
        a(href="/todos/new", class="link") New Todo

      if todos.length > 0
        h2 Todos
        ul(class="list")
          each val in todos
            li(class="list-item")
              - var id = val._id
              h3(class="item")
                a(href='todos/'+id, class="item-link")= val.todo
              |
              div(class="item-links")
                a(href='todos/'+id+'/edit', class="item-link") Edit
                |
                a(href="/delete/"+id, class="item-link") Delete
      else 
        h2= "No todos"